
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<title> Garotas </title>
  
      <div class="header2">
        <div class="subpages2-nav">
               @Html.Partial("_MenuGirlPartial")
        </div>
    </div>   


  <section id="contentGirls">

  <div id="BoasVindas">
    <p> <i> Bem Vinda !</i> </p>  <br /> <br /> <br />
    <p> <i> O que você deseja fazer agora ? </i> </p>
  </div>

  </section>