
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


        <div class="header2">
        <div class="subpages2-nav">
            @Html.Partial("_MenuPartial")
        </div>
        </div>



           <section id="contentGirls">

           </section>

