@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<title> Garotas </title>
  
      <div class="header2">
        <div class="subpages2-nav">
               @Html.Partial("_MenuGirlPartial")
        </div>
    </div>   


  <section id="contentGirls">

  <div id="BoasVindas">
   <ul>
     @{
     var idGirl = Session["idGirl"];
     foreach (var item in ViewBag.Fotos) {
            <li>
                <img src="@Url.Content("~/Fotos/" + idGirl + "/" + item.Text)"/>
                <a href="/Girls/DeleteFotos/@item.Text" class="photo-delete-link">Deletar</a>
            </li>
        }
        }
    </ul>
  </div>

  </section>

  <script>
      $('.photo-delete-link').click(function (e) {
          $.ajax({
              url: this.href,
              dataType: "text json",
              type: "POST",
              data: {},
              success: function (data, textStatus) { }
          });
          e.preventDefault();
      });
</script>