@model hotiguassu.Models.GirlsModels
@{
    ViewBag.Title = "Nova Garota";
    
}
<script type="text/javascript">
    $(document).ready(function () {


        $("#submit").click(function () {
            $("form").submit();
        });
    });

</script>
<div class="header2">
    <div class="subpages2-nav">
        @Html.Partial("_MenuGirlPartial")
    </div>
</div>
<section id="contentGirls">

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

       @Html.HiddenFor(model => model.idGirl)
       @Html.HiddenFor(model => model.situacao)
    
  <div id="BoasVindas">
    <p> <i> Tem Certeza que Deseja Deletar sua Conta !</i> </p>  <br /> <br /> <br />

  </div>
     <div class="btns">
            <a href="/" class="link-1" id="cancelar" >Cancelar</a>
            <a href="#" class="link-1" id="submit">Enviar</a>
          </div>
}

    </section>
