
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<title> Garotas </title>
  
  <div class="header">
        @Html.Partial("_MenuGirlPartial")
  </div>   



