
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<title> Garotas </title>
  
      <div class="header2">
        <div class="subpages2-nav">
               @Html.Partial("_MenuGirlPartial")
        </div>
    </div>   


  <section id="contentGirls">

  </section>