
@{Layout = "~/Views/Shared/_Layout.cshtml"; }



    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>


  <div class="header">
            @Html.Partial("_MenuInicialPartial")
  </div>    
<!--==============================content================================-->
    <section id="content">
    	<div class="pad-1">
            <h2 class="h2 p2">Sobre </h2> 
            <div class="page2-row2">
                <div class="col-6">
                    <p style="color:#fff">Para entrar em contato com qualquer uma das acompanhantes, 
                                             ligue diretamente para o seu telefone particular, disponível 
                                             nas páginas internas de anúncios. Informamos que o HotIguassu não
                                             é uma agência, mas sim, um veículo de divulgação e propaganda. 
                                             O site www.hotiguassu.com não tem nenhum vínculo com as anunciantes,
                                             não sendo responsável ou interessado nas contratações, tampouco pelos 
                                             serviços prestados a qualquer título ou tempo.</p>
                </div>
                <div class="col-7">
                    <div class="comment">AVISO<p class="upper clr-1">
                                             Para entrar em contato com qualquer uma das acompanhantes, 
                                             ligue diretamente</p></div>
                </div>
            </div> 
        </div>           
    </section> 
