@CHARSET "ISO-8859-1";


body{
	 background-image:url('/img/fundo01.png'); 
	 background-repeat:repeat-x;
	 background-color:#5C0001;
	 }

#wraper{background-image:url('/img/fundo02.jpg');
        margin: 0 auto;
        margin-top:100px;
        width:1150px;
        height:700px;
        padding-left:80px;
        border-radius:100px;
        border:1px solid #000

}


#wraper img{ padding:60px 0px 0px 0px }
