

        <div class="nav">
            <nav>  
                <ul class="menu">
                <li class="current li-none"><a>Inicio</a></li>
                <li><a>Inicio</a></li>
                <li><a>Inicio</a></li>
                <li><a>Inicio</a></li>
                <li><a>Inicio</a></li>
                <li><a>Inicio</a></li>
                <li><a>Inicio</a></li>
                </ul>
            </nav>
            </div>
